@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@700&family=Quicksand:wght@300;400;500;535;600&family=Raleway:ital,wght@0,500;0,600;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #F5F5F5;
    box-sizing: content-box;
}
